.render__html p {
    margin-bottom: 1.25rem;
}

.sidebar_scrollview {
  width: 328px;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.logo {
  margin-top: 320px;
}

.empty_view {
  min-height: calc(100vh - 250px);
}

.render__html ol, .render__html ul, .render__html menu {
  list-style: auto;
  margin: auto;
  padding: 0 40px;
}

.enter_view {
  background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 13.94%,#fff 54.73%);
}

.print_sign:after {
  -webkit-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
  content: "▋";
  margin-left: 0.25rem;
  vertical-align: baseline;
}

.custom_step :global {
  .rc-steps-item-tail {
    left: 16px;
    padding: 42px 0 4px 0;
  
    &::after {
      width: 2px;
      background-image: linear-gradient( 95deg,rgb(242,113,33) 0%,rgb(233,64,87) 50%,rgb(138,35,135) 100%);
    }
  }
  
  .rc-steps-item-description {
    padding-bottom: 50px;
  }
}

.speed_dial :global {
  display: none;
  .MuiButtonBase-root {
    width: 36px;
    height: 36px;
    background: none;
  }

  .MuiSpeedDialAction-staticTooltipLabel {
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  .sidebar_scrollview, .speed_dial {
    display: none;
  }
  
  .speed_dial {
    display: block;
  }

  .logo {
    margin-top: 0;
  }


}